.card {
    list-style: none;
    background: rgba(64, 64, 64, 0.57);
    width: 500px;
    padding: 10px;
}

.card img {
    width: 100%;
}

.card a {
    color: #eee;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}